body{
	background : lightblue;	
}

h2{
	text-align: center;
	color: green;
	font-size : 35px;
}

.wrapper {
     display: flex;    
     justify-content: center;    
} 
   

.form{
	width : 400px;
	height : 200px;
	border : 1px solid green;
	display: flex;
	flex-direction: column;
    justify-content: space-around;
}

.inputDiv{	
	display: flex;
	justify-content: space-around;
}

.formSubmit{
	display: flex;
	justify-content: center;
}